<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What are you doing here??</title>

    <meta charset="utf-8" />
    <title>I see you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{@BASE}}/public/skote/assets/images/favicon.ico">

 
    <!-- DataTables -->
    <link href="{{@BASE}}/public/skote/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="{{@BASE}}/public/skote/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{{@BASE}}/public/skote/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- <link href="{{@BASE}}/public/skote/assets/libs/Bootstrap-4-Chosen-Plugin/dist/css/component-chosen.css?random={{@random}}" rel="stylesheet" > -->
    <link href="{{@BASE}}/public/skote/assets/libs/select2/css/select2.min.css" rel="stylesheet" >
    <link href="{{@BASE}}/public/skote/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="{{@BASE}}/public/skote/assets/libs/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css" rel="stylesheet" type="text/css">


    <!-- <link href="{{@BASE}}/public/skote/assets/libs/@chenfengyuan/datepicker/datepicker.min.css" rel="stylesheet" > -->
       <!-- Bootstrap Css -->
               <!-- Lightbox css -->

       <link href="{{@BASE}}/public/skote/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
       <!-- Icons Css -->
       <link href="{{@BASE}}/public/skote/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
       <!-- App Css-->
       <link href="{{@BASE}}/public/skote/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
       <link href="{{@BASE}}/public/skote/assets/libs/bootstrap-select-1.13.18/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
       <link href="{{@BASE}}/public/skote/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
     
</head>
<body>
    <include href="{{@content}}">
        <!-- End Page-content -->
</body>
</html>